<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-list>
              <ion-item>
                <ion-label> Página principal </ion-label>
                <ion-select [(ngModel)]="municipio" (ionChange)="onChangeMunicipio($event)" >
                    <ion-select-option *ngFor="let m of data.municipios | keyvalue" value="{{m.key}}">
                      {{m.value}}
                    </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/{{municipio}}.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Bienvenidos a {{data.getMunicipioByKey(municipio)}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p style="text-align: justify">{{texto}}</p>
        </ion-card-content>
      </ion-card>
  </ion-content>
  