<ion-header>
    <ion-toolbar>
      <ion-title>Cultura {{data.getMunicipioByKey(municipio)}}</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let c of cultura">
        <ion-card-header>
          <ion-card-subtitle>{{c.servicios}}</ion-card-subtitle>
          <ion-card-title>{{c.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>   
          {{c.descripcion}}<br/>
          <b>Dirección:</b> {{c.direccion}} <br/>
          <b>Telefono:</b> {{c.telefono}}<br/>
          <b>Correo:</b> {{c.correo}}
        </ion-card-content>
      </ion-card>
</ion-content>
